<app-sidebar (toggle)="isSidebarOpen = $event"></app-sidebar>

<main [ngStyle]="{ 'margin-left': isSidebarOpen ? '220px' : '90px' }">
  <div class="main-content">
    <header class="header">
      <div class="flex-left">
        <div class="logo">
          <img src="bp_logo.png" alt="Logo" />
        </div>
      </div>
      <app-user-info></app-user-info>
    </header>

    <div class="content">
      <app-vm-summary-card></app-vm-summary-card>
      <app-cluster-cpu-card />
      <app-cluster-memory-card />
    </div>
  </div>
</main>
