@use "styles.scss" as *;

.summary-card {
  @include card-style;

  mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 12px;

    p {
      margin: 0;
      font-size: 1rem;
      color: #4b5563;
      line-height: 1.5;
      display: flex;
      justify-content: space-between;

      strong {
        color: #2d3748;
        font-weight: 600;
      }

      .status {
        font-weight: bold;
        padding: 2px 6px;
        border-radius: 6px;
        text-transform: capitalize;
        font-size: 1rem;
      }

      .status.on {
        background-color: #38a169; // Green
        color: white;
      }

      .status.off {
        background-color: #e53e3e; // Red
        color: white;
      }

      .status.suspended {
        background-color: #d69e2e; // Yellow for suspended
        color: white;
      }
    }
  }
}
