<div class="app-container">
  <div class="main-content">
    <header class="header">
      <div class="flex-left">
        <button mat-button (click)="sidenav.toggle()">
          <img class="toggle" src="toggle.png" alt="Toggle" />
        </button>

        <div class="logo">
          <img src="bp_logo.png" alt="Logo" />
        </div>
      </div>
      <app-user-info></app-user-info>
    </header>
    <mat-sidenav-container class="slidenav-menu">
      <mat-sidenav #sidenav mode="side" opened>
        <mat-accordion>
          <mat-expansion-panel disabled>
            <mat-expansion-panel-header>
              <a href="#">IAAS</a></mat-expansion-panel-header
            >
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header
              >Database Services</mat-expansion-panel-header
            >
            <p class="clickable" (click)="createVM()">Create VM</p>
            <p class="clickable" (click)="deleteVM()">Delete VM</p>
            <p class="clickable" (click)="cloneVM()">Clone VM</p>
          </mat-expansion-panel>
          <mat-expansion-panel disabled>
            <mat-expansion-panel-header
              ><a href="#">Kubernetes</a></mat-expansion-panel-header
            >
          </mat-expansion-panel>
        </mat-accordion>
      </mat-sidenav>

      <mat-sidenav-content>
        <div class="content">
          <app-cluster-info-card
            *ngFor="let cluster of clusters"
            [cluster]="cluster"
          ></app-cluster-info-card>
          <div class="cluster-card" *ngFor="let cluster of clusters">
            <h3>{{ cluster.name }}</h3>
            <p>{{ cluster.description }}</p>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
<router-outlet />
